.main{
    background: url("http://3.bp.blogspot.com/-llZ8FJv0zas/Tn6tLECOdbI/AAAAAAAAALI/ScjS9wEMIjI/s400/tiro%2Bparabolico.png") ;
    margin-left: 220px;
    margin-right: 50px;
    min-height: 480px;

}
#marq {
    background: Blue;
    background: linear-gradient(to left, blue, green);


}
.sidebar{
    background: green;
    background: linear-gradient(green, blue);
    width: 150px;
    float: left;
    height: 320px;
}